@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
/* src/index.css or src/index.scss */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");


html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.2);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.3);
}

