<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <style>
        body {
            font-family: 'Lato', sans-serif;
            background-color: #f5f5f5;
        }

        .admin {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        select,
        input[type="file"] {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            color: #333;
        }

        input[type="file"] {
            padding: 10px 0;
        }

        .admin__submit {
            padding: 10px 20px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .admin__submit:hover {
            background-color: #45a049;
        }

        /* Added styles */
        .admin__submit:focus {
            outline: none;
        }

        .files__entity {
            display: flex;
            align-items: center;
            justify-content: center;
            /* Added to center align */
            padding: 10px;
            /* Increased padding */
            margin-bottom: 10px;
            background-color: #f5f5f5;
            /* Added background color */
            border-radius: 5px;
        }

        .files__icon {
            font-size: 20px;
            margin-right: 10px;
            color: #4caf50;
        }

        .files__date {
            color: #777;
        }

        .files__link {
            margin-left: auto;
            color: #4caf50;
            text-decoration: none;
        }

        .files__link:hover {
            text-decoration: underline;
        }
    </style>
    <title>API is running..</title>
</head>
 
<body>
    <main class="admin">
        <h1>Api is running...</h1>
    </main>
</body>



</html>